            /* GENERAL INFOS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

            /* HEADER */

header{
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.display-padding{
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
}

li{
    list-style-type: none;
    padding: 15px 0;
}

.show{
    position: relative;
}

li .list-categories{
    display: none;
    position: absolute;
    width: 200px;
    color: black;
    background-color: white;
    line-height: 25px;
    text-align: center;
    left: -30px;
}

.blue-button{
    background-color: rgb(55, 118, 255);
    color: white;
    border: none;
    transition: all 1s ease 0s;
}

/* HOVER */

.blue-button:hover{
    color: rgb(55, 118, 255);
    background-color: white;
    border: 1px solid rgb(55, 118, 255);
}

nav>ul>li:hover{
    border-bottom: 2px solid black;
}

nav>ul>li:hover .list-categories{
    display: block;

}


            /* LIGHTBLUE HEADING */


.lightblue-bg{
    background-color: rgb(182, 210, 241);
    height: calc(100vh - 60px);
}    

.fit-img{
    width: 100%;
}

.heading{
    width: 80%;
    margin: auto;
    padding-top: 75px;
}

.column-left{
    width: 30%;
    padding: 50px 0;
}

.column-right{
    padding-top: 55px;
}

.heading>h1{
    font-size: 5em;
}

i.fa-arrow-down{
    padding-top: 30px;
    font-size: 3em;
}


            /* COLUMN SECTION */


.horizontal-rule,
.bigger-button,
.small-container-1>p{
    margin: 30px 0;
}

.column{
    margin: 3% 0;
}

.column,
.u-column{
border: 1px solid rgb(223, 223, 223);
}

.container{
    width: 70%;
    margin: auto;
    margin-top: 150px;
}    

.container h1{
    font-size: 2.3em;
    margin-bottom: 50px;
}

.input-radio{
    margin-left: 20px;
}

.column{
    width: 30%;
    height: 1000px;
}

.u-column{
    width: 100%;
}

.column-margin{
    margin: 3% 5%;
}

.title-column{
    text-align: center;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 5px;
}

.list-column{
    padding: 30px;
}

.horizontal-rule{
    height: 1px;
    background-color: rgb(223, 223, 223);
}

.short-hr{
    width: 40px;
}

.u-column-inline{
    height: 140px;
    width: 69%;
    display: inline-block;
}

.u-column-inline>h3{
    padding: 20px 0;
}   

.grey-text{
    color: grey;
    padding: 15px 0 30px;
    font-size: 13px;
}

.bigger-button{
    width: 100%;
    padding: 7px 0;
}

.fa-check{
    color: rgb(55, 118, 255);
}

.effect,
.column h3{
    transition: all 1s ease 0s;
}

/* HOVER */

.effect:hover,
.column h3:hover{
    color: rgb(55, 118, 255);
    font-size: larger;
}

.buy:hover{
    background-color: rgb(55, 118, 255);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}


            /* PARTNER SECTION */


.small-container-1{
    width: 35%;
    margin: 30px 0 0 50px;
    font-size: 14px;
}

.white-button{
    border: 1px solid black;
    background-color: white;
    padding: 5px 15px;
    transition: all 1s ease 0s;
}


            /* TOOLS SECTION */


.small-container-2{
    width: 25%;
    margin: 20px 0;
}

.central-small-container{
    margin: 2% 12%;
}

.img-small-container-2{
    width: 100%;
}

.second-row{
    margin-top: 2%;
}

/* HOVER */

.small-container-2 div:hover{
    color: white;
    background-color:rgb(55, 118, 255);
}


            /* LOGOS SECTION */


.last>h1{
    margin-bottom: 20px;
}

.small-container-3,
.middle-container{
    position: absolute;
}

.small-container-3{
    width: 15%;
    height: 200px;
}

.middle-container{
    left: 30%;
    width: 40%;
    height: 400px;
    padding: 30px;
    background-color: rgb(223, 223, 223);
}

.logo-images{
    position: relative;
}

.small-container-3>img{
    display: block;
    margin: auto;
    padding-top: 55px;
    width: 60%;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(233deg) brightness(105%) contrast(100%);
}

.middle-container>img{
    width: 20%;
}

.middle-container>p{
    padding: 30px 0;
}

.margin-logos{
    margin-top: 40px;
    height: 400px;
}

/* HOVER */

.small-container-3:hover,
.middle-container:hover{
    border: 10px groove white;
}

            /* SKYBLUE CONTAINER */


.skyblue-bg{
    height: 250px;
    width: 100vw;
    background-color: skyblue;
}

.skyblue-bg>.container{
    margin-top: 0;
    padding-top: 80px;
}

.skyblue-bg .white-button{
    border: none;
    width: 280px;
}

.purple-text{
    color: rgb(75, 0, 50);
    width: 40%;
}

.questions{
    margin-top: 80px;
}

.questions h1{
    font-size: 2em;
}

.white-button:hover{
    color: white;
    background-color: blue;
    filter: opacity(70%);
}


            /* QUESTIONS SECTION */


.questions{
    height: fit-content;
}

.questions h4{
    display: inline-block;
    width: 95%;
}

.questions>.long-hr{
    width: 100%;
} 

.no-show{
    display: none;
}

/* HOVER */

.questions-show:hover .no-show{
    display: block;
    background-color: white;
    color: blue;
    width: fit-content;
    height: fit-content;
    overflow: visible;
}

.no-show li:hover{
    text-decoration: underline;
}


            /* FOOTER SECTION */


footer{
    margin-top: 100px;
    color: white;
    position: relative;
}  

footer li{
    padding: 3px 0;
    font-size: 11px;
}          

.black-bg{
    background-color: black;
}

.footer-column{
    width: 20%;
}

footer ul{
    padding: 20px 0 80px;
}

.white-hr{
    background-color: white;
    height: 2px;
    width: 100px;
}

.margin-left{
    margin-left: 10%;
}

.language-choice{
    padding: 40px 0;
    position: relative;
}

.languages{
    display: none;
    position: absolute;
    bottom: 10px;
    height: 400px;
}

/* HOVER */

footer li:hover{
    text-decoration: underline;
}

footer h3:hover{
    color: rgb(17, 147, 190);
}

.language-choice:hover .languages{
    display: block;
    background-color: white;
    color: black;
    width: 150px;
}


            /* ID SECTION */


#first-blue-button{
    padding: 5px 10px;
}

#fit-img{
    width: 70%;
}

#second-bb{
    font-size: 1em;
    margin: 30px 0 15px;
    padding: 10px 20px;
}

#u-column-button{
    width: 30%;
    margin: 0;
}

#img-partner{
    width: 55%;
}

#designit{
    background-color: rgb(137, 187, 162);
    padding-top: 20px;
}

#arizona-uni{
    background-color: rgb(75, 0, 50);
    left: 15%;
}

#florida-uni{
    background-color: rgb(17, 147, 190);
    top: 200px;
    padding-top: 35px;
}

#topps{
    background-color: red;
    left: 15%;
    top: 200px;
    padding-top: 15px;
}

#bicycle-world{
    background-color: rgb(175, 2, 2);
    right: 15%;
    padding-top: 25px;
}

#hearst{
    background-color: skyblue;
    right: 0px;
    padding-top: 40px;
}

#lonely-planet{
    background-color: rgb(1, 1, 122);
    right: 15%;
    top: 200px;
    padding-top: 20px;
}

#clear-channel{
    background-color: rgb(247, 224, 21);
    right: 0px;
    top: 200px;
    padding-top: 10px;
}





